* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100%;
}

html IMG {
  width: 100%;
  height: auto;
}

:root {
  --fontJetBrains: 'JetBrains Mono', monospace;
  --fontSizeTitle: 3rem;
  --fontSizeSubtitle: 2.5rem;
  --fontSizeText: 1.5rem;
  --textColor: hsl(0, 0%, 40%);
  --brightColor: hsl(0, 0%, 95%);
  --darkColor: hsl(0, 0%, 10%);
  --extraContentBG: rgba(120, 120, 120, 30%);
  --borderRadius: 3rem;
  --contentPadding: 1.5rem 2rem;
  --marginBottom: 3rem;
}

body {
  width: 100%;
  font-family: var(--fontJetBrains);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fontSizeText);
  background-image: url(./assets/img/fondomadera1.jpg);
  background-size: contain;
}

#cuerpo {
  background-color: var(--brightColor);
  width: clamp(250px, 900px, 90%);
  border-radius: var(--borderRadius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
}

#cuerpo #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--darkColor);
  border-radius: var(--borderRadius);
  text-align: center;
  padding: var(--contentPadding);
}

#cuerpo #hero #title {
  font-size: var(--fontSizeTitle);
}

#cuerpo #hero #subtitle {
  color: var(--textColor);
  font-size: var(--fontSizeSubtitle);
}

#cuerpo #tribute-info {
  background-color: gba(120, 120, 120, 30%);
  border-radius: var(--borderRadius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--contentPadding);
}

#cuerpo #tribute-info #img-div {
  font-size: 10px;
  margin-bottom: var(--marginBottom);
}

#cuerpo #tribute-info #textoinfo {
  color: var(--textColor);
}

#cuerpo #tribute-info #textoinfo #titulohistoria {
  color: var(--darkColor);
  font-size: 2rem;
  margin-bottom: var(--marginBottom);
}

#cuerpo #cita {
  color: var(--darkColor);
  background-color: var(--extraContentBG);
  border-radius: var(--borderRadius);
  padding: var(--contentPadding);
  margin: 1.5rem 1rem 0;
}

#cuerpo #pie #enlace {
  background-color: var(--darkColor);
  border-radius: var(--borderRadius);
  color: var(--brightColor);
  padding: var(--contentPadding);
  margin: 1.5rem 1rem 1.5rem;
  text-align: center;
}

#cuerpo #pie #enlace #tribute-link {
  color: yellow;
}

#cuerpo #pie #enlace #tribute-link:hover {
  color: #c99b03;
}
